#hero-banner {
  .hero-image {
    width: 50%;
    height: auto;

    @include respond(extra-small-mobile) {
      width: 100%;
    }
  }
  .artist-name {
    font-size: 200px;
    color: $white;
    font-family: $bodoni-moda;
    font-style: italic;

    @include respond(extra-small-mobile) {
      font-size: 80px;
    }

    &:nth-of-type(1) {
      top: 30%;
      left: 30%;
    }
    &:nth-of-type(2) {
      left: 65%;
      top: 65%;
      @include respond(extra-small-mobile) {
        left: 50%;
      }
    }
  }
  .artist-information {
    position: absolute;
    bottom: 0;
    z-index: 21;
    max-width: 900px;
    text-align: center;
    color: $text-secondary--two;

    &--description {
      margin-bottom: $base-space;
      @include respond(extra-small-mobile) {
        font-size: 8px;
        margin-bottom: 0;
      }
    }
  }
}
