.merchandise {
  .floating-text {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -25px;
    color: $primary-color;
    font-size: 125px;
    font-family: $bodoni-moda;
    font-style: italic;
    color: $white;
    opacity: 0.8;

    @include respond(extra-small-mobile) {
      font-size: 62px;
    }
  }

  .merchandise-list {
    .category {
      background: linear-gradient(
        162.68deg,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0.2) 100%
      );
      border-radius: 8px;

      &--active {
        background: $primary-color;
        color: $white;
      }
    }
  }

  .fag {
    .collapsible {
      background-color: $white;
      color: $black--two;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    .active {
      background-color: $blue--three;
      color: $white;
    }

    .active,
    .collapsible:hover {
      opacity: 0.8;
    }

    // .collapsible:after {
    //   content: "\002B";
    //   color: $black--two;
    //   font-weight: bold;
    //   float: right;
    //   font-size: 24px;
    //   margin-left: 5px;
    // }

    // .active:after {
    //   content: "\2212";
    //   color: $white;
    // }

    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: $white;
      color: $blue--one;
    }
  }
}
