.navbar-modal {
  background: url("/modal-background.png") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.rotate-text-wrapper {
  position: absolute;
  top: 100%;
}
.rotate-text {
  writing-mode: vertical-lr;
  transform: rotate(360);
  color: $primary-color;
  opacity: 0.6;
  font-size: 125px;
  font-family: $bodoni-moda;
  font-style: italic;
}
#navbar-modal-artist {
  #modal-background-artist {
    width: 400px;
    position: relative;
    margin-top: -17%;
    margin-left: 20%;
  }
  .name {
    font-size: 200px;
    color: $white;
    font-family: $bodoni-moda;
    font-style: italic;

    @include respond(extra-small-mobile) {
      font-size: 100px;
    }

    &:nth-of-type(1) {
      top: 30%;
      left: 50%;
    }
    &:nth-of-type(2) {
      z-index: 21;
      left: 70%;
      top: 70%;
      @include respond(extra-small-mobile) {
        left: 75%;
      }
    }
  }
}

.navbar-modal-wrapper {
  position: absolute;
  top: -10%;
  left: 200%;
  width: max-content;

  @include respond(extra-small-mobile) {
    left: 0;
    top: 15%;
    width: fit-content;
  }
}
.navbar-modal-link {
  text-align: right;
  a {
    color: $text-secondary;
    font-weight: 700;
    font-family: $bodoni-moda;
    font-size: 62px;
    font-style: italic;

    @include respond(extra-small-mobile) {
      font-size: 52px;
    }
  }
  .active {
    color: $text-primary;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 0.3s;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 0.3s;
}
