.menu {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.masked-background {
  position: relative;
  // clip-path: path("M0 128Q0 96 32 96Q96 96 96 32Q96 0 128 0H10000V100000H0Z");
  // clip-path: path("M500 128Q500 96 468 96Q404 96 404 32Q404 0 372 0H0V100000H500Z");
  clip-path: path("M0 78Q0 50 32 50Q50 50 50 32Q50 0 78 0H10000V100000H0Z");
  transform: scaleX(-1);

  @include respond(extra-small-mobile) {
    height: 200px;
    clip-path: path("M0 0Q0 20 32 20Q20 20 20 32Q20 0 0 0H10000V100000H0Z");
  }
}
