.menu {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.masked-background {
  position: relative;
  height: 770px;
  clip-path: path("M0 128Q0 96 32 96Q96 96 96 32Q96 0 128 0H10000V100000H0Z");
}
