:root {
  --nameWidth: 10%;
  --nameHeight: 500px;
}

.header {
  background: url("/header-banner.png");
  height: 700px;
  position: relative;
  border-radius: 25px;
  // clip-path: path(
  //   "M0 128 Q0 96 32 96 Q96 96 96 32 Q96 0 128 0 H 100000 V 100000 H0 Z"
  // );
  // clip-path: path(
  //   "M512 128 Q512 96 480 96 416 96 416 32 416 0 384 0 H-10000 V100000 H0 Z"
  // );
  clip-path: polygon(
    96.221% 3.377%,
    96.221% 3.377%,
    96.221% 3.17%,
    96.221% 2.983%,
    96.22% 2.814%,
    96.218% 2.662%,
    96.216% 2.524%,
    96.212% 2.399%,
    96.207% 2.285%,
    96.2% 2.18%,
    96.192% 2.083%,
    96.181% 1.991%,
    96.181% 1.991%,
    96.134% 1.713%,
    96.071% 1.449%,
    95.993% 1.201%,
    95.901% 0.971%,
    95.795% 0.761%,
    95.678% 0.572%,
    95.549% 0.407%,
    95.41% 0.268%,
    95.263% 0.155%,
    95.107% 0.072%,
    95.107% 0.072%,
    95.055% 0.052%,
    95.001% 0.037%,
    94.942% 0.025%,
    94.878% 0.016%,
    94.809% 0.009%,
    94.731% 0.005%,
    94.646% 0.002%,
    94.552% 0.001%,
    94.447% 0%,
    94.331% 0%,
    2.907% 0%,
    2.907% 0%,
    2.516% 0.001%,
    2.164% 0.006%,
    1.847% 0.021%,
    1.564% 0.049%,
    1.312% 0.095%,
    1.088% 0.164%,
    0.89% 0.261%,
    0.716% 0.39%,
    0.562% 0.555%,
    0.426% 0.761%,
    0.426% 0.761%,
    0.31% 1.004%,
    0.218% 1.279%,
    0.146% 1.591%,
    0.092% 1.945%,
    0.053% 2.345%,
    0.027% 2.795%,
    0.011% 3.301%,
    0.003% 3.866%,
    0% 4.496%,
    0% 5.195%,
    0% 94.805%,
    0% 94.805%,
    0% 95.504%,
    0.003% 96.134%,
    0.011% 96.699%,
    0.027% 97.205%,
    0.053% 97.655%,
    0.092% 98.055%,
    0.146% 98.409%,
    0.218% 98.721%,
    0.31% 98.996%,
    0.426% 99.239%,
    0.426% 99.239%,
    0.562% 99.445%,
    0.716% 99.61%,
    0.89% 99.739%,
    1.088% 99.836%,
    1.312% 99.905%,
    1.564% 99.951%,
    1.847% 99.979%,
    2.164% 99.994%,
    2.516% 99.999%,
    2.907% 100%,
    97.093% 100%,
    97.093% 100%,
    97.484% 99.999%,
    97.837% 99.994%,
    98.153% 99.979%,
    98.436% 99.951%,
    98.688% 99.905%,
    98.912% 99.836%,
    99.109% 99.739%,
    99.284% 99.61%,
    99.438% 99.445%,
    99.574% 99.239%,
    99.574% 99.239%,
    99.69% 98.996%,
    99.782% 98.721%,
    99.854% 98.409%,
    99.908% 98.055%,
    99.947% 97.655%,
    99.973% 97.205%,
    99.989% 96.699%,
    99.997% 96.134%,
    100% 95.504%,
    100% 94.805%,
    100% 10.13%,
    100% 10.13%,
    100% 9.923%,
    100% 9.736%,
    99.999% 9.568%,
    99.997% 9.415%,
    99.995% 9.278%,
    99.991% 9.153%,
    99.986% 9.038%,
    99.98% 8.934%,
    99.971% 8.836%,
    99.96% 8.744%,
    99.96% 8.744%,
    99.913% 8.466%,
    99.85% 8.202%,
    99.772% 7.954%,
    99.68% 7.724%,
    99.574% 7.514%,
    99.457% 7.326%,
    99.328% 7.161%,
    99.189% 7.021%,
    99.042% 6.909%,
    98.886% 6.825%,
    98.886% 6.825%,
    98.835% 6.806%,
    98.78% 6.79%,
    98.721% 6.778%,
    98.658% 6.769%,
    98.588% 6.762%,
    98.51% 6.758%,
    98.425% 6.755%,
    98.331% 6.754%,
    98.226% 6.753%,
    98.11% 6.753%,
    98.11% 6.753%,
    97.995% 6.753%,
    97.89% 6.753%,
    97.796% 6.751%,
    97.71% 6.749%,
    97.633% 6.744%,
    97.563% 6.738%,
    97.5% 6.729%,
    97.441% 6.717%,
    97.386% 6.701%,
    97.335% 6.681%,
    97.335% 6.681%,
    97.179% 6.598%,
    97.032% 6.485%,
    96.893% 6.346%,
    96.764% 6.181%,
    96.647% 5.992%,
    96.541% 5.782%,
    96.449% 5.553%,
    96.371% 5.305%,
    96.308% 5.041%,
    96.261% 4.762%,
    96.261% 4.762%,
    96.25% 4.67%,
    96.241% 4.573%,
    96.235% 4.468%,
    96.23% 4.354%,
    96.226% 4.229%,
    96.223% 4.091%,
    96.222% 3.939%,
    96.221% 3.77%,
    96.221% 3.583%,
    96.221% 3.377%
  );
}

// .header:before {
//   content: "";
//   position: absolute;
//   top: -20px;
//   right: -20px;
//   z-index: 2;
//   width: 150px;
//   height: 150px;
//   border-radius: 50%;
//   background: $secondary-color;
// }

.menu {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
