.navbar-modal {
  background-color: $secondary-color !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 22;
}
.rotate-text-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -25px;
}
.rotate-text {
  writing-mode: vertical-lr;
  -webkit-transform: rotate(360);
  -moz-transform: rotate(360);
  color: $primary-color;
  opacity: 0.6;
  font-size: 125px;
  font-family: $bodoni-moda;
  font-style: italic;
}
.navbar-modal-wrapper {
  position: absolute;
  top: 0;
  left: 150%;
  margin: 0 0 0 -25px;
  width: max-content;
}
.navbar-modal-link > a {
  color: $primary-color;
  font-weight: 700;
  font-family: $bodoni-moda;
  font-size: 62px;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: .3s;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: .3s;
}