.schedule-list {
  &--info {
    z-index: 24;
  }
  &--item {
    border-bottom: 1px solid $black-five;
    width: fit-content;
    padding: 16px;
  }
  &--time {
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    font-family: $bodoni-moda;
  }
}

.shedule-button {
  &--view-more {
    & > a {
      font-size: 20px;
      font-weight: 600;
      color: $primary-color;
      text-decoration: underline;
      margin-top: 32px;
      margin-bottom: 64px;
    }
  }
}

.schedule-promotions__list {
  .image {
    margin-bottom: 32px;
  }
  .info {
    margin-top: auto;
    .category {
      background: linear-gradient(to bottom, #e0e7ee, #f5f7fa);
      padding: 8px 12px;
      border-radius: 8px;
      font-size: 14px;
      color: $black-five;
      display: inline-block;
    }
    .product-name {
      font-size: 21px;
      font-weight: 600;
      color: $black-five;
      margin: 16px 0;
    }
    .price {
      font-size: 21px;
      font-weight: 500;
      color: $black-five;
    }
  }
}

.schedule--float-text {
  position: absolute;
  right: -20%;
  bottom: 5%;
  p {
    font-size: 100px;
    font-family: $bodoni-moda;
    font-style: italic;
    color: $white;
  }
}
