#schedule-detail {
  .category {
    background: linear-gradient(
      117.54deg,
      rgba(255, 255, 255, 0.8) 14.14%,
      rgba(255, 255, 255, 0.05) 94.3%
    );
    width: fit-content;
    padding: 8px 16px;
  }
}
