.schedule-list {
  &--info {
    z-index: 24;
  }
  &--item {
    border-bottom: 1px solid $black-three;
    padding: 16px;
  }
  &--time {
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    font-family: $bodoni-moda;
    @include respond(extra-small-mobile) {
      font-size: 30px;
    }
  }
}

.shedule-button {
  &--view-more {
    & > a {
      font-size: 18px;
      font-weight: 500;
      color: $white;
      background-color: $primary-color;
      border-radius: 8px;
      margin-top: 32px;
      margin-bottom: 64px;
      height: 40px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include respond(extra-small-mobile) {
        font-size: 16px;
      }
    }
  }
}

#schedule-page {
  .floating-text {
    position: absolute;
    bottom: 10%;
    left: 25%;
    color: $primary-color;
    font-size: 125px;
    font-family: $bodoni-moda;
    font-style: italic;
    color: $white;
    opacity: 0.8;

    @include respond(extra-small-mobile) {
      font-size: 62px;
    }
  }

  .floating-text-2 {
    position: absolute;
    bottom: -15%;
    left: 45%;
    color: $primary-color;
    font-size: 125px;
    font-family: $bodoni-moda;
    font-style: italic;
    color: $white;
    opacity: 0.8;

    @include respond(extra-small-mobile) {
      font-size: 62px;
    }
  }

  .month {
    font-family: $bodoni-moda;
    font-style: italic;
    font-weight: 600;
    font-size: 120px;
    color: $primary-color;

    @include respond(extra-small-mobile) {
      font-size: 50px;
    }
  }

  .calendar-view {
    .days,
    .calendar {
      background: linear-gradient(
        117.54deg,
        rgba(255, 255, 255, 0.8) 14.14%,
        rgba(255, 255, 255, 0.05) 94.3%
      );
      border-left: 1px solid $blue--two;
      border-top: 1px solid $blue--two;
    }
  }

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, sans-serif;
    gap: 32px;
    margin-top: 25px;
  }

  .nav-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: $black-three;
    text-decoration: underline;
    font-size: 1rem;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .nav-link.prev {
    left: 20%;
    color: $black-three;

    @include respond(extra-small-mobile) {
      left: 0%;
    }

    img {
      transform: rotate(180deg);
    }
  }

  .nav-link.next {
    right: 20%;
    color: $black-three;

    @include respond(extra-small-mobile) {
      right: 0%;
    }
  }

  .event-card {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    @include respond(extra-small-mobile) {
      padding: 0;
      display: block;
    }
  }

  .event-date {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    color: $text-primary;
    font-style: italic;
    font-family: $bodoni-moda;
    margin-right: 16px;

    @include respond(extra-small-mobile) {
      font-size: 24px;
    }
  }

  .event-type,
  .event-info {
    padding: 0px 16px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    color: $text-secondary--two;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;

    @include respond(extra-small-mobile) {
      font-size: 12px;
    }
  }

  .event-details {
    flex-grow: 1;
    padding: 0 32px;

    @include respond(extra-small-mobile) {
      padding: 0;
    }
  }

  .event-name {
    font-weight: bold;
    font-size: 1rem;
    color: #000;

    @include respond(extra-small-mobile) {
      font-size: 14px;
    }
  }

  .event-address {
    font-size: 0.9rem;
    color: #555;
    @include respond(extra-small-mobile) {
      font-size: 13px;
    }
  }
}

.day-header {
  color: $primary-color;
  font-size: 18px;
  font-weight: 600;
  @include respond(extra-small-mobile) {
    font-size: 10px;
  }
}

.day-header:not(:last-child) {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    background-color: $text-secondary--two;
    width: 1px;
  }
}
