// fonts
$montserrat: "Montserrat", sans-serif;
$bodoni-moda: "Bodoni Moda", serif;

$font-family: $montserrat;

$base-space: 16px;

// color
$primary-color: #000b6e;
$secondary-color: #d0e3ff;

$black: #000;
$black--two: #2e2e2e;
$black-three: #000a26;
$white: #fff;
$grey: #edf1f6;
$grey--two: #e4e4e4;

$blue--one: #334eac;
$blue--two: #7096d1;
$blue--three: #3b8aed;
$text-primary: #000054;
$text-secondary: #2271d3;
$text-secondary--two: #003ea0;

// z-index
$z-index--sidebar: 999;
$z-index--mask-root: 998;
$z-index--header: 899;
$z-index--indicator: 999;
$z-index--dropdown: 199;
$z-index--slider-button: 10;
