@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.image-gallery-thumbnails {
  padding: 16px 0 !important;
}
.image-gallery-thumbnails-container {
  display: flex;
  gap: 4px;
}
.image-gallery-bullets .image-gallery-bullet {
  border: none !important;
  background-color: #fff !important;
}
.image-gallery-bullets .image-gallery-bullet.active {
  background: #000 !important;
  transform: scale(1) !important;
}
.image-gallery-left-nav,
.image-gallery-right-nav {
  background-color: #fff !important;
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: unset !important;
  padding: 0 !important;
}
.image-gallery-left-nav {
  left: -25px !important;
}
.image-gallery-right-nav {
  right: -25px !important;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 32px !important;
  width: unset !important;
  color: #000;
}

.fc .fc-daygrid-day-top {
  flex-direction: row !important;
  padding: 0 8px;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: white !important;
}
.fc .fc-cell-shaded,
.fc .fc-day-disabled {
  background: transparent !important;
}
.grid-calendar-view {
  border: 1px solid #7096d1 !important;
  border-radius: 8px;
}
.fc-theme-standard .fc-scrollgrid {
  border-width: 0 !important;
}
.list-calendar-view > .fc-scroller {
  border: 0px solid red !important;
}
/* .fc-theme-standard td:last-child,
.fc-theme-standard th:last-child {
  border-bottom-color: transparent !important;
} */
.fc-scrollgrid-sync-table tr:first-child td:last-child {
  border-top-right-radius: 8px;
}
.fc-scrollgrid-sync-table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.grid-calendar-view .fc-scrollgrid-sync-table tbody tr td,
.grid-calendar-view .fc-scrollgrid-sync-table tbody tr th {
  border: 1px solid #7096d1 !important;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border-width: 0;
}
.grid-calendar-view .fc-scrollgrid-sync-table tbody tr:last-child td:last-child,
.grid-calendar-view th:last-child {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}
.list-calendar-view,
.list-calendar-view th {
  border: none !important;
}

.list-calendar-view td {
  border-top-width: 0 !important;
  border-bottom: 1px solid #000a26 !important;
}
.fc-direction-ltr .fc-list-table .fc-list-event-graphic {
  display: none;
}
.fc .fc-scroller-liquid-absolute,
.fc .fc-scroller-harness {
  overflow: visible !important;
}
.fc
  .fc-scrollgrid-section
  table
  tbody
  tr:first-child
  td:first-child
  .fc-daygrid-day-frame:first-child {
  border-top-left-radius: 8px;
}

.fc
  .fc-scrollgrid-section
  table
  tbody
  tr:first-child
  td:last-child
  .fc-daygrid-day-frame:last-child {
  border-top-right-radius: 8px;
}
.fc
  .fc-scrollgrid-section
  table
  tbody
  tr:last-child
  td:first-child
  .fc-daygrid-day-frame:first-child {
  border-bottom-left-radius: 8px;
}

.fc
  .fc-scrollgrid-section
  table
  tbody
  tr:last-child
  td:last-child
  .fc-daygrid-day-frame:last-child {
  border-bottom-right-radius: 8px;
}
.fc .fc-scrollgrid-section,
.fc .fc-scrollgrid-section table,
.fc .fc-scrollgrid-section > td {
  height: 0 !important;
}

#homeSlider .swiper-pagination-horizontal {
  left: 90%;
  width: fit-content;
}
#swiperGallery .swiper-pagination-bullet,
#homeSlider .swiper-pagination-bullet,
#backgroundSlider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #adadad;
  opacity: 1;
}

#swiperGallery .swiper-pagination-bullet-active,
#homeSlider .swiper-pagination-bullet-active,
#backgroundSlider .swiper-pagination-bullet-active {
  background: #fff;
}
.fc .fc-daygrid-day-frame {
  background-color: #f7f9fc !important;
  height: 125px;
  display: flex;
  flex-direction: column;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-top: auto !important;
}
.fc-daygrid-event {
  white-space: normal !important;
  align-items: normal !important;
  padding: 0 16px;
  margin-top: 16px !important;
}

@media only screen and (max-width: 479px) {
  .fc .fc-daygrid-day-frame {
    height: 75px;
  }

  .fc-daygrid-event {
    margin-top: 0px !important;
    white-space: nowrap !important;
  }
}
