/*=============================================
=            animations            =
=============================================*/

@keyframes fadeInDown {
  0% {
    transform: translate3d(0, -100%, 0);

    opacity: 0;
  }
  100% {
    transform: translateZ(0);

    opacity: 1;
  }
}

@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInLeft {
  from {
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    -o-transform: translatex(-100%);
    transform: translatex(-100%);
  }
  to {
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

@keyframes fadeInRight {
  from {
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
  to {
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    -o-transform: translatex(-100%);
    transform: translatex(-100%);
  }
}

/*=====  End of animations  ======*/
